<div class="jumbotron text-center">
    <h1>Home Page 4 Life</h1>

    <p>{{ tagline }}</p>

    <div>
      <h4>List of all Nerds</h4>
        <ul ng-repeat="nerd in allNerds">
          <li>
            {{ nerd.name }}
            <button ng-click="deleteNerd(nerd)">DELETE nerd</button>
            <button ng-click="selectNerd(nerd)">UPDATE nerd's name</button>
            <form ng-show="showForm(nerd)" ng-submit="updateNerd(nerd)">
              <label for="newName">New Name:</label>
              <input name="name" ng-model="data.newName">
              <input type="submit" value="Update!">
            </form>
          </li>
        </ul>
    </div>

    <div>
      <h4>CREATE a Nerd!</h4>
      <form ng-submit="newNerd()">
        <label for="nerdName">Name:</label>
        <input name="name" ng-model="nerdName">
        <input type="submit" value="Create!">
      </form>
    </div>

</div>
